@charset"UTF-8";

.main_c {

    width: 1280px;
    margin: 40px auto;

    .center {
        position: relative;
        width: 1200px;
        margin: 0 auto;

        .big {
            position: relative;
            width: 561px;
            height: 561px;
            position: absolute;
            left: 600px;
            overflow: hidden;
            display: none;

            img {
                width: 1122px;
                height: 1122px;
                position: absolute;
            }
        }

        .left {
            position: relative;
            float: left;

            .small {
                width: 200px;
                height: 200px;
                position: absolute;
                background-color: rgba($color:#000, $alpha: 0.5);
                left: 0px;
                top: 0px;
                display: none;
            }
        }

        .right {
            float: right;
            width: 600px;

            h6 {

                font-size: 18px;
                font-weight: normal;

                span {
                    margin-right: 5px;
                }
            }

            .price {
                margin: 20px 0;

                &>:nth-child(1) {
                    float: left;
                    color: red;
                    font-weight: bold;
                    font-size: 30px;
                }

                &>:nth-child(2) {
                    float: right;
                    color: #7D7D7D;
                    font-size: 12px;
                    line-height: 40px;
                }
            }

            .size {

                P {
                    font-size: 12px;
                    font-weight: bold;
                }

                span {
                    margin: 10px 0 0 10px;
                    display: inline-block;
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid #7D7D7D;
                    margin-right: 5PX;
                    font-size: 12px;
                    padding: 0 5px;
                }
            }

            .peisong {
                line-height: 20px;
                margin: 20px 0;
                font-size: 12px;

                p {
                    font-weight: bold;
                }

            }

            .baozhuang {
                font-size: 12px;

                p {
                    font-weight: bold;


                    span {
                        margin-top: 10px;
                        display: none;
                        color: darkcyan;
                    }
                }

                div {
                    margin: 20px 0 0 10px;
                    display: inline-block;
                    border-bottom: 1px solid #000;
                }

                select {
                    font-size: 12px;
                    padding-bottom: 5px;
                    width: 150px;
                    border: none;
                    outline: none;
                }
            }

            .number {
                margin: 30px 0 30px;

                p {



                    span {
                        display: block;
                        line-height: 40px;
                        float: left;

                    }

                    &>:nth-child(1) {

                        margin-right: 30px;
                        font-size: 12px;
                        font-weight: bold;
                    }

                    &>:nth-child(2) {

                        margin-right: 10px;
                        font-size: 30px;

                    }

                    &>:nth-child(3) {
                        font-size: 12px;
                        width: 40px;
                        text-align: center;
                        width: 100px;
                        border: 1px solid #000;
                        font-size: 20px;
                    }

                    &>:nth-child(4) {
                        margin-left: 10px;
                        font-size: 30px;

                    }
                }

            }
        }

        .go {
            input {
                border: none;
                outline: none;
                background-color: red;
                text-align: center;
                color: #fff;
                width: 400px;
                height: 80px;
                font-size: 25px;
                cursor: pointer;
            }
        }
    }
}